color: var(--vermelha);
cursor:pointer;
height: 120px;
font-siz: 1.75 em;
font-weight: bold;
line-heigjt:120px;
}
.tecla.ativa,
.tecla.active{
 background-color: var(--vermelha);
 border: 4p solid var(--vermelha);
 box-shadow: 3p 3px 0 var(--vermelha-escura)inset;
color:var(--branca);
outline: none;
}

.tecla.focus,
.tecla.focus{
    outline: none;
    box-shadow: 1px 1px 10px var(--luz);
}

.tecla.active:focus,
.tecla.active:focus{
    box-shadow: 3px 3px 0 var(--vermelha-escura)inset<;